@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

body {
    font-size: 14px;
    font-family: Lato, sans-serif;
    color: white;
    background-color: #9E2C00;
}
main {
    text-align: center;
}

aside {
    float: left;
    height: 100%;
    width: 250px;
    background-color: #291719;
}

section.mame-container {
    width: 500px;
    height: 550px;
    background-color: #543738;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
}

section.mame-container img {
    padding-top: 25px;
}

.mame-container article {
    display: inline-block;
    background-color: #291719;
    border-radius: 10px;
    line-height: 10px;
    text-align: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #9E2C00;
}

.mame-container article p {
    margin-left: 10px;
}

.mame-container .mame-info-left {
    width: 250px;
    height: 60px;
}

.mame-container .mame-info-right {
    width: 170px;
    height: 60px;
}

.mame-container .social-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.mame-container .social-buttons .like, .dislike {
    width: 70px;
    height: 30px;
    background-color: #291719;
    border-radius: 10px;
    border: 1px solid #9E2C00;
    color: white;
    outline: none;
}

.mame-container .social-buttons .share {
    width: 170px;
    heigth: 30px;
    background-color: #291719;
    border-radius: 10px;
    border: 1px solid #9E2C00;
    color: white;
    outline: none;
}
